%%%-------------------------------------------------------------------
%%% File    : eloggriderrors.config
%%% Author  : Brian E. Williams <mixolyde@gmail.com>
%%% Description : Error log config file that only sends errors to log
%%%
%%% Created :  10 Aug 2010 by Brian E. Williams <mixolyde@gmail.com>
%%%-------------------------------------------------------------------
%% rotating log and errors
[{sasl, [	 
	 %% minimise shell error logging
	 {sasl_error_logger, false},
         %% only report errors
	 {errlog_type, error},
	 %% define the parameters of the rotating log
	 %% the log file directory
	 {error_logger_mf_dir,"error_logs"},	
         %% # bytes per logfile
	 {error_logger_mf_maxbytes,10485760}, % 10 MB
         %% maximum number of
	 {error_logger_mf_maxfiles, 10}
	]}].



